html body{ 
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 16px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #000000;
}

.container {
    min-height: 100%;
	position: relative;
	width: 800px;
}

.sidebar-nav {
    padding: 9px 0;
}

header, footer, nav, section {
    display: block;
}


/*Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.footer {
    font-size: 14px;
    background-color: #0e0e0e;
    height: 45px;
    text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
    color: #ffffff;
}